<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Account</title>
</head>
<body id="app">
    <header id="wrap-header">
        <div id="header">
            <img id="logo" src="./images/homebanking.png" alt="logo-home">
            <h1><a id="h1-title" href="accounts.html">JaValues HomeBanking.</a></h1>
        </div>
        <div id="nav-list">
            <nav>
                <a id="home-btn" class="btn btn-primary" href="accounts.html">Home</a>
                <button class="btn btn-danger" id="logOut" @click="logout">Log Out</button>
            </nav>
        </div>
    </header>
    <main>
        <div id="info-account">
            <div id="nav-account">
                <nav id="nav-side" class="nav flex-column">
                    <a class="nav-link active" aria-current="page" href="account.html">Accounts</a>
                    <a class="nav-link"  href="transfers.html">Transfer</a>
                    <a class="nav-link" href="cards.html">Cards</a>
                    <a class="nav-link" href="loan-application.html">Loans</a>
                </nav>
            </div>
            <div id="theAccount2">
                <h2 id="h2-acc">Current Cards</h2>
                <p id="status">Debit cards & Credit cards are both showed here:</p>
                <a v-if="cardsData.length < 6" class="btn btn-success" id="createC" href="create-cards.html">Create</a>
                <button type="button" class="btn btn-danger" id="deleteCard" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete Card
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete a Card</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="GET" id="deletingCard" autocomplete="off">
                                    <label for="cards">Select the card that you want to delete</label>
                                    <select name="cardToDelete" id="cardToDelete" v-model="cardToDelete" required>
                                        <option value="" selected disabled>--Select a card--</option>
                                        <option v-for="numbers in cardsData" :value="numbers.id">Card ended in: {{numbers.number.slice(15, 19)}}</option>
                                    </select>
                                    <p id="infoDeleteC">Remember that this process is irreversible but you still can apply for another cards after deleting it</p>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="close" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="button" id="save" class="btn btn-success" @click="deleteCard">Delete Card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="theCards">
                    <p id="debito">Your DEBIT cards:</p>
                    <p v-if="debitC.length <= 0">No debit cards yet.</p>
                    <div v-for="item in debitC" id="cards" :class="cardColor(item.cardColor)">
                        <figure class="card__figure">
                            <p class="card__type">{{item.cardColor}}</p>
                            <img src="./images/homebanking.png" class="card__figure--logo"></img>
                        </figure>
                        <div class="card__reader">
                            <div class="card__reader--risk card__reader--risk-one"></div>
                            <div class="card__reader--risk card__reader--risk-two"></div>
                            <div class="card__reader--risk card__reader--risk-three"></div>
                            <div class="card__reader--risk card__reader--risk-four"></div>
                        </div>
                        <p class="card__number">{{item.number}}</p>
                        <div class="card__dates">
                            <span class="card__dates--first">{{item.fromDate.slice(2,7)}}</span>
                            <span class="card__dates--second">{{item.thruDate.slice(0,7)}}</span>
                        </div>
                        <p class="card__name">{{item.cardHolder}} <span id="cvvNum">cvv:{{item.cvv}}</span><p>
                        <div class="card__flag">
                            <div class="card__flag--globe"></div>
                            <div class="card__flag--red"></div>
                            <div class="card__flag--yellow"></div>
                        </div>
                    </div>
                    <p id="title">Your CREDIT cards:</p>
                    <p v-if="creditC.length <= 0">No credit cards yet.</p>
                    <div v-for="item in creditC" id="cards" :class="cardColor(item.cardColor)">
                        <figure class="card__figure">
                            <p class="card__type">{{item.cardColor}}</p>
                            <img src="./images/homebanking.png" class="card__figure--logo"></img>
                        </figure>
                        <div class="card__reader">
                            <div class="card__reader--risk card__reader--risk-one"></div>
                            <div class="card__reader--risk card__reader--risk-two"></div>
                            <div class="card__reader--risk card__reader--risk-three"></div>
                            <div class="card__reader--risk card__reader--risk-four"></div>
                        </div>
                        <p class="card__number">{{item.number}}</p>
                        <div class="card__dates">
                            <span class="card__dates--first">{{item.fromDate.slice(2,7)}}</span>
                            <span class="card__dates--second">{{item.thruDate.slice(0,7)}}</span>
                        </div>
                        <p class="card__name">{{item.cardHolder}} <span id="cvvNum">cvv:{{item.cvv}}</span><p>
                        <div class="card__flag">
                            <div class="card__flag--globe"></div>
                            <div class="card__flag--red"></div>
                            <div class="card__flag--yellow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Francisco Rivero 2021 | All Rights Reserved</p>
    </footer>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./JS/cards.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>